<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<h1 style="color: rgb(14, 207, 182); position: center;">KanbanSense</h1>
<h2>Has olvidado tu contraseña</h2>
<h3><span>Hola </span><span th:text="${userName}"></span></h3>
<p>Ha solicitado una nueva contraseña, puede encontrarla a continuación: </p>
<h5 th:text="${newPassword}"></h5>
<p>Por motivos de seguridad cámbiela.</p>

</body>
</html>
</html>